<app-inicio>
  <div class="m-1">
    <div class="space-y-3">
      <p class="opacity-70 text-xl font-semibold">Gestionar menú</p>
      <p class="opacity-70">Visualiza el listado - Modificar o Deshabilitar</p>
    </div>
    <div class="flex flex-col">
<!--      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">-->
<!--        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">-->
<!--          <div class="overflow-hidden">-->
<!--            <table class="min-w-full text-center text-sm  text-surface">-->
<!--              <thead class="border-b border-neutral-200 bg-gray200">-->
<!--              <tr>-->
<!--                <th scope="col" class=" py-4">Cliente</th>-->
<!--                <th scope="col" class=" py-4">Fecha Pedido</th>-->
<!--                <th scope="col" class=" py-4">Estado</th>-->
<!--                <th scope="col" class=" py-4">Total</th>-->
<!--                <th scope="col" class=" py-4">Acciones</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr *ngIf="listaPedidos.length === 0; else PedidosConDatos" class="bg-white border-b border-2">-->
<!--                <td colspan="4" class="px-6 py-4 text-xl opacity-70 font-medium">No se han realizado pedidos</td>-->
<!--              </tr>-->
<!--              <ng-template #PedidosConDatos>-->
<!--                <tr *ngFor="let pedidos of listaPedidos" class="bg-white border-b border-2">-->
<!--                  <td class="whitespace-nowrap py-4">{{ pedidos.nombreusuario }}</td>-->
<!--                  <td class="whitespace-nowrap py-4">{{ pedidos.fecha_pedido }}</td>-->
<!--                  <td *ngIf="pedidos.estado == 'Enviado'"-->
<!--                      class="whitespace-nowrap py-4 text-green-500">{{ pedidos.estado }}-->
<!--                  </td>-->
<!--                  <td *ngIf="pedidos.estado == 'Pendiente'"-->
<!--                      class="whitespace-nowrap py-4 text-blue-500">{{ pedidos.estado }}-->
<!--                  </td>-->
<!--                  <td *ngIf="pedidos.estado == 'Cancelado'" class="whitespace-nowrap py-4 text-red-500">Cancelado por el-->
<!--                    usuario-->
<!--                  </td>-->

<!--                  <td class="whitespace-nowrap py-4">{{ pedidos.total }}</td>-->
<!--                  <td *ngIf="pedidos.estado === 'Pendiente'; else Cancelado" class="whitespace-nowrap py-4">-->
<!--                    <button (click)="getConfirmarPedido(pedidos.id)"-->
<!--                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">-->
<!--                      Entregar-->
<!--                    </button>-->
<!--                  </td>-->
<!--                  <ng-template #Cancelado>-->
<!--                    <td class="whitespace-nowrap py-4">-->
<!--                      <button class="bg-gray-600 text-white rounded-lg py-2 px-4" disabled>-&#45;&#45;</button>-->
<!--                    </td>-->
<!--                  </ng-template>-->
<!--                </tr>-->
<!--              </ng-template>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</app-inicio>
