<app-inicio>
  <div class="m-1">
    <div class="space-y-3">
      <p class="opacity-70 text-xl font-semibold">{{ isEditMode ? 'Editar' : 'Añadir' }} Menú</p>
      <p class="opacity-70">Añade un nuevo menú</p>
    </div>
    <form (ngSubmit)="GuardarMenu()">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 opacity-70">
        <div class="flex flex-col m-1">
          <label>Nombre</label>
          <input
            class="rounded px-1 py-1 border"
            type="text"
            placeholder="Nombre Comida"
            [(ngModel)]="menu.nombre_plato"
            required
            name="nombre_plato">
        </div>
        <div class="flex flex-col m-1">
          <label>Descripción</label>
          <input
            class="rounded px-1 py-1 border"
            type="text"
            placeholder="Ingresa la descripción"
            [(ngModel)]="menu.descripcion"
            name="descripcion">
        </div>
        <div class="flex flex-col m-1">
          <label>Precio</label>
          <input
            class="rounded px-1 py-1 border"
            type="number"
            placeholder="Ingresa precio"
            [(ngModel)]="menu.precio"
            name="precio">
        </div>
        <div class="flex flex-col m-1">
          <label>Tipo comida</label>
          <select class="rounded px-1 py-1 border" [(ngModel)]="menu.tipo_comida_id" name="tipoComida">
            <option value="0" selected disabled >Seleccione un tipo</option>
            <option *ngFor="let tc of tipoComida " value="{{tc.id}}">{{tc.tipo_nombre}}</option>
          </select>
        </div>
        <div class="flex flex-col m-1">
          <label>Imagen</label>
          <input
            class="rounded px-1 py-1 border"
            type="file"
            (change)="onImageSelected($event)"
            name="imagen">
        </div>
        <div class="flex flex-col items-start" *ngIf="isEditMode">
          <label for="disponible">Disponible:</label>
          <input id="disponible" type="checkbox" [(ngModel)]="menu.disponible" name="disponible">
        </div>
        <div class="flex flex-col m-1">
          <label>¿Deseas guardar el menú?</label>
          <div class="flex space-x-2 text-white font-semibold">
            <button type="button" class="rounded px-4 py-1 bg-blue-600" (click)="limpiarFormulario()">Limpiar</button>
            <button type="submit" class="rounded px-4 py-1 bg-green-600">{{ isEditMode ? 'Actualizar' : 'Guardar' }} Menú</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-inicio>

<!--<app-inicio>-->
<!--  <div class="m-1">-->
<!--    <div class="space-y-3">-->
<!--      <p class="opacity-70 text-xl font-semibold">{{ isEditMode ? 'Editar' : 'Añadir' }} Menú</p>-->
<!--    </div>-->
<!--    <div class="flex flex-col">-->
<!--      <form (ngSubmit)="GuardarMenu()">-->
<!--        <div>-->
<!--          <label for="nombre_plato">Nombre del plato:</label>-->
<!--          <input id="nombre_plato" [(ngModel)]="menu.nombre_plato" name="nombre_plato" required>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label for="descripcion">Descripción:</label>-->
<!--          <input id="descripcion" [(ngModel)]="menu.descripcion" name="descripcion" required>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label for="precio">Precio:</label>-->
<!--          <input id="precio" [(ngModel)]="menu.precio" name="precio" type="number" required>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label for="tipo_comida_id">Tipo de comida:</label>-->
<!--          <select id="tipo_comida_id" [(ngModel)]="menu.tipo_comida_id" name="tipo_comida_id" required>-->
<!--            <option *ngFor="let tipo of tipoComida" [value]="tipo.id">{{ tipo.nombre }}</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div>-->
<!--          <label >Imagen:</label>-->
<!--          <input type="file" (change)="onImageSelected($event)">-->
<!--        </div>-->

<!--        &lt;!&ndash; Campo de "disponible" solo en modo edición &ndash;&gt;-->
<!--        <div *ngIf="isEditMode">-->
<!--          <label for="disponible">Disponible:</label>-->
<!--          <input id="disponible" type="checkbox" [(ngModel)]="menu.disponible" name="disponible">-->
<!--        </div>-->

<!--        <button type="submit">{{ isEditMode ? 'Actualizar' : 'Guardar' }} Menú</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</app-inicio>-->
