<div class="flex items-center bg-white py-4 px-2 space-x-2">
  <p class="text-xl opacity-70 font-bold min-w-44">Buscar comida</p>
  <div class="relative">
    <input
      class="border px-2 py-1 rounded-lg w-96"
      type="text"
      placeholder="Ingresar nombre de la comida a buscar"
      [(ngModel)]="buscarComida"
      (input)="onInputChange()">
  </div>
</div>

<div class="flex">
  <div class="w-40 lg:w-60 text-gray-600 mx-auto pl-6 pr-2 border-r-2 border-gray-300">
    <div class="w-52">
      <p class="font-semibold text-xl">Comidas</p>
      <p class="text-sm text-gray-400">{{ MenuItemsFiltrado.length }} resultados</p>
    </div>
    <div class="mt-2">
      <p class="font-semibold text-xl">Filtros</p>
      <div class="space-y-2">
        <div class="flex space-x-2" *ngFor="let category of categories; let i = index">
          <input type="radio" [name]="'category'" [(ngModel)]="selectedCategory" [value]="category" id="category-{{i}}">
          <label for="category-{{i}}">{{ category }}</label>
        </div>
        <div class="flex space-x-2">
          <p class="font-semibold">Ordenar</p>
          <select class="w-full rounded-lg px-2" [(ngModel)]="selectedOrder">
            <option value="A-Z">A - Z</option>
            <option value="Z-A">Z - A</option>
            <option value="price-desc">Precio: Mayor - Menor</option>
            <option value="price-asc">Precio: Menor - Mayor</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full mx-auto overflow-y-auto h-[calc(100vh-130px)]">
    <div class="p-2 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-7">
      <div *ngFor="let menu of MenuItemsFiltrado"
           class="border-red-300 border-2 w-52 hover:bg-white p-2 h-96 bg-gray-100 rounded-lg hover:shadow-2xl flex flex-col mx-auto">
        <div *ngIf="menu.disponible; else noDisponible" class="flex flex-col justify-between h-96">
          <img *ngIf="menu.imagen"
               [src]="menu.imagen.startsWith('data:image') ? menu.imagen : 'data:image/jpeg;base64,' + menu.imagen"
               alt="Imagen del plato {{ menu.nombre_plato }}"
               class="rounded-lg"/>
          <div class="space-y-2">
            <p class="uppercase font-bold opacity-70">{{ menu.nombre_plato }}</p>
            <p class="font-semibold opacity-70">{{ truncateDescription(menu.descripcion) }}</p>
            <p class="text-green-500"><span
              class="font-bold uppercase text-start text-black text-opacity-70">Precio: </span>${{ menu.precio }}</p>
          </div>

          <div *ngIf="login; else logout"
               class="flex items-center justify-start text-sm uppercase font-bold opacity-70 space-x-1">
            <p>Cantidad:</p>
            <input type="number" [(ngModel)]="menu.cantidad" class="border rounded-lg w-16 p-1 text-center" min="1">
          </div>
          <div class="flex justify-center">
            <button *ngIf="login; else logout" (click)="agregarAlCarrito(menu)"
                    class="bg-red-400 py-1 px-3 font-bold text-white rounded-lg w-32 hover:bg-red-600">Agregar
            </button>
          </div>
        </div>

        <ng-template #logout></ng-template>
        <ng-template #noDisponible>
          <div class="flex flex-col justify-between h-full">
            <img *ngIf="menu.imagen"
                 [src]="menu.imagen.startsWith('data:image') ? menu.imagen : 'data:image/jpeg;base64,' + menu.imagen"
                 alt="Imagen del plato {{ menu.nombre_plato }}"
                 class="rounded-lg"/>
            <div class="space-y-2">
              <p class="uppercase font-bold opacity-70">{{ menu.nombre_plato }}</p>
              <p class="font-semibold opacity-70">{{ menu.descripcion }}</p>
            </div>
            <div class="flex justify-center">
              <p class="text-gray-500">No disponible</p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
